<nav>
  <ul>
    <li><a href="/users">Users</a></li>
    <li><a href="/photos">Photos</a></li>
  </ul>
</nav>

<h1> List of photos</h1>

<table border = 1>
  <tr>
    <th>
      Image
    </th>
    <th>
      Caption
    </th>
    <th>
      Owner
    </th>
    <th>
      Posted
    </th>
    <th>
      
    </th>
  </tr>

  <% @list_of_photos.each do |a_photo| %>
    
    <tr>
      <td>
        <img src=<%= a_photo.image%>>
      </td>
      
      <td>
        <%= a_photo.caption%>
      </td>
      
      <td>
        <%= User.where({ :id => a_photo.owner_id}).at(0).username %>
      </td>
      
      <td>
        <%= a_photo.created_at%>
      </td>
      
      <td>
        <a href="/photos/<%= a_photo.id %>">
          Show Details
        </a>
      </td>
    </th>
  <%end%>
  
</table>
